body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  font-family: sans-serif;
  margin-top: 1.5em;
}

h1 {
  font-size: 32px;
}

table, td, th {
  border: 1px solid;
}

figcaption {
  font-style: italic;
}

img, figcaption {
   clear: right;
   float: right;
}